name: Simple Stats
on:
  schedule: [{cron: "0 * * * *"}] # Runs every hour
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  update-cards:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # ----------------------------------------------------------------
      # 1. GENERATE STREAK CARD
      # ----------------------------------------------------------------
      - uses: lowlighter/metrics@latest
        with:
          filename: streak.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_streak: yes
          config_timezone: America/Sao_Paulo
          config_theme: gruvbox

      # ----------------------------------------------------------------
      # 2. GENERATE STATS CARD
      # ----------------------------------------------------------------
      - uses: lowlighter/metrics@latest
        with:
          filename: stats.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}
          base: header, activity, community, repositories
          config_timezone: America/Sao_Paulo
          config_theme: gruvbox

      # ----------------------------------------------------------------
      # 3. GENERATE LANGUAGES CARD
      # ----------------------------------------------------------------
      - uses: lowlighter/metrics@latest
        with:
          filename: langs.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_limit: 6
          plugin_languages_colors: github
          config_timezone: America/Sao_Paulo
          config_theme: gruvbox
