name: GitHub Metrics

on:
  schedule: [{cron: "0 */12 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Identity & Activity (Left)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.left.svg
          token: ${{ secrets.METRICS_TOKEN }}
          template: terminal
          base: header, activity, community, repositories
          config_timezone: America/Sao_Paulo

      - name: Habits & Tech (Right)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.right.svg
          token: ${{ secrets.METRICS_TOKEN }}
          template: terminal
          base: "" 
          config_timezone: America/Sao_Paulo
          config_order: languages, habits, achievements
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_sections: most-used
          plugin_languages_limit: 8
          plugin_languages_recent_days: 365 
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_habits_charts_type: classic
          plugin_habits_days: 30
          plugin_habits_from: 50 
          plugin_achievements: yes
          plugin_achievements_threshold: X
          plugin_achievements_display: compact
          plugin_achievements_secrets: no
          plugin_achievements_only: polyglot, stargazer, sponsor, deployer, member, maintainer, developer, scripter, packager, explorer, infographile
