name: GitHub Metrics

on:
  schedule: [{cron: "0 */12 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Full History & Activity (Left)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.left.svg
          token: ${{ secrets.METRICS_TOKEN }}
          template: terminal
          base: header, activity, community, repositories
          config_timezone: America/Sao_Paulo

      - name: Habits & Tech Stack (Right)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.right.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: "" 
          template: terminal
          config_timezone: America/Sao_Paulo
          
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_habits_days: 0 # Scans all-time history
          
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          plugin_languages_recent_days: 0
          
          plugin_achievements: yes
          plugin_achievements_threshold: X
          plugin_achievements_display: compact
          
          plugin_lines: yes
